body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero {
    width: 100%;
    max-width: 1500px;
    margin: 20px;
}

.hero img {
    width: 100%;
    height: auto;
}

picture {
    display: block;
    margin: 0 auto;
}
